h1 {
  font-family: Arial;
  font-size: 40px;
  color: Salmon;
}

h2{
  font-family: Arial;
  font-size: 30px;
  color: white;
}

p {
  font-family: Arial;
  font-size: 20px;
  color: white;
}

a:link {
    color: HotPink; 
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: HotPink;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

body{
  background-color: black;
}

a:active {
    color: HotPink;
    font-family: Arial;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}
